.vscode
**/__pycache__/

/data
/eval_result

assets/objects/ipt
assets/objects/opt
assets/objects/BlueBlock*
assets/objects/GreenBlock*
assets/objects/OrangeBlock*
assets/objects/textures
assets/objects/.thumbs

replay
traj*

policy/ACT_UniT
/*.ipynb
/.codex
/third_party/*
!/third_party/TacEx
!/third_party/TacEx/source/tacex_assets/tacex_assets/data/Robots/ARX-X5/XenseWS

/assets/textures/*
textures.zip
!/assets/textures/Cherry.mdl
!/assets/textures/Cherry/
!/assets/textures/Cherry/*.png

/encoder/.vscode
/encoder/checkpoints*
/encoder/ablation/*
/encoder/gf225/*
/encoder/mix/*
/encoder/tmp*

**/act-ckpt/*
/*.png
**/tmp.png
# media
*.png
*.mp4

# archives
*.zip

# build
third_party/TacEx/source/tacex_uipc/CMake*
third_party/TacEx/source/tacex_uipc/vcpkg*
third_party/TacEx/source/tacex_uipc/vcpkg_installed/

policy/ACT_UniT
policy/pi0

replay
traj*
.codex
/*.ipynb
assets/objects/opt/*
/assets/embodiments/ARX-X5
