.vscode
**/__pycache__/

/data
/eval_result

assets/objects/ipt
assets/objects/opt
assets/objects/BlueBlock*
assets/objects/GreenBlock*
assets/objects/OrangeBlock*
assets/objects/textures
assets/objects/.thumbs

replay
traj*

policy/ACT_UniT
/*.ipynb
/.codex
/third_party
!/third_party/TacEx
!/third_party/TacEx/source/tacex_assets/tacex_assets/data/Robots/ARX-X5/XenseWS

/assets/embodiments/ARX-X5
